---
import ListItem from "../components/ListItem.astro";
import WhatsAppIcon from "../components/icons/WhatsApp.astro";
import MapIcon from "../components/icons/Map.astro";
import PhoneIcon from "../components/icons/Phone.astro";
import BankIcon from "../components/icons/Bank.astro";
---

<head>
	<meta name="viewport" content="width=device-width" />
	<title>Sayer - La Via</title>
	<meta
		name="description"
		content="Sayer - La Via links like WhatsApp, Google Maps and telephone number"
	/>
	<link
		rel="apple-touch-icon"
		sizes="180x180"
		href="/favicons/apple-touch-icon.png"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="32x32"
		href="/favicons/favicon-32x32.png"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="16x16"
		href="/favicons/favicon-16x16.png"
	/>
	<link rel="manifest" href="/favicons/site.webmanifest" />
	<link
		rel="mask-icon"
		href="/favicons/safari-pinned-tab.svg"
		color="#0094e6"
	/>
	<meta name="apple-mobile-web-app-title" content="Sayer Links" />
	<meta name="application-name" content="Sayer Links" />
	<meta name="msapplication-TileColor" content="#0094e6" />
	<meta name="theme-color" content="#0094e6" />
</head>
<main
	class="max-w-sm mx-auto min-h-screen grid grid-rows-[auto_1fr_auto] gap-16 pb-4"
>
	<section class="relative">
		<div class="absolute flex items-end pb-16 justify-center h-full w-full">
			<h1
				class="z-10 font-bold text-6xl top-16 left-4 text-white [text-shadow:rgb(0_0_0_/_25%)_0px_3px_8px]"
			>
				Sayer
			</h1>
		</div>
		<figure>
			<img
				class="brightness-[.3] rounded-b-3xl"
				src="/img/hero.avif"
				alt="green leafed plant"
			/>
		</figure>
	</section>
	<ul class="space-y-4">
		<ListItem href="https://wa.me/+525618383913">
			<WhatsAppIcon />WhatsApp
		</ListItem>
		<ListItem href="tel:+525565498376"><PhoneIcon />Telefono</ListItem>
		<ListItem href="https://goo.gl/maps/cRNUV6xDV1gwhN9o8">
			<MapIcon />Dónde Estamos
		</ListItem>
		<ListItem id="clabe">
			<BankIcon />
			<span id="clabeText">Clabe Interbancaria</span>
		</ListItem>
	</ul>
</main>

<script defer>
	const clabeButton = document.getElementById("clabe");
	const clabeText = document.getElementById("clabeText");
	const clabeNumber = "12345";
	const copyToClipboard = (text) =>
		new Promise((resolve, reject) => {
			if (navigator?.clipboard) {
				const cb = navigator.clipboard;

				cb.writeText(text).then(resolve).catch(reject);
			}

			try {
				const body = document.querySelector("body");
				const textarea = document.createElement("textarea");

				body?.appendChild(textarea);

				textarea.value = text;
				textarea.select();
				document.execCommand("copy");

				body?.removeChild(textarea);

				resolve("Copied successfully");
			} catch (error) {
				reject(error);
			}
		});

	clabeButton.addEventListener("click", () => {
		copyToClipboard(clabeNumber);
		clabeText.textContent = "Copiada!";
		setTimeout(() => {
			clabeText.textContent = "Clabe Interbancaria";
		}, 1500);
	});

	console.log(clabeButton);
</script>
