---
const { href, id } = Astro.props;
---

<li>
  {
    !href && (
      <button
        class="py-4 px-6 shadow-lg rounded-lg w-full inline-flex items-center transition-[box-shadow,_transform,_background,_color] duration-200 hover:text-white hover:bg-[#0093e5] ease-in-out hover:shadow-xl hover:-translate-y-1"
        id={id}
      >
        <slot />
      </button>
    )
  }
  {
    href && (
      <a
        href={href}
        class="py-4 px-6 shadow-lg rounded-lg w-full inline-flex items-center transition-[box-shadow,_transform,_background,_color] duration-200 hover:text-white hover:bg-[#0093e5] ease-in-out hover:shadow-xl hover:-translate-y-1"
      >
        <slot />
      </a>
    )
  }
</li>
